
#logg{
    background-image: url('media/pizzapic.jpg');
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-size: 1400px 800px;
}
#reg{
    background-image: url('media/back4.jpg');
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-size: 1400px 700px;
}
#menu{
    background-image: url('media/back5.jpg');
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-size: 1400px 700px;
}
.logins{
    background-color: white;
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid brown;
    margin-left: 540px;
    margin-top: 30px;
}


.formLogin label{
    font-family: "Varela Round";
}

.logins h3{
    color: orange;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .3em;
}

.logins input[type=submit] {
    background-color: #F29E1E;
    width: 50%;
    border: none;
    margin-top: 10px;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Varela Round";
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
}

.logins input[type=submit]:hover {
    background-color: #DB8F2A;
    cursor: pointer;
}

.menu{

    background: orange;
    padding: 2px 5px 5px 5px;
    border-radius: 2px;
    text-align: center;  
    color: white;
}
.logImag{
    margin-left: 600px;
    height: 85px;
    width: 175px;
    background-image: url('media/logo.png');
}


.pie{
    padding: 2px 5px 5px 5px;
    margin-top: 60px;
    background: orange;
    border-radius: 2px;
    text-align: center;  
    color: white;
}

#titulo h1{
    text-align: center;
    color: tomato;
}
